<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itganhuo.app.dao.ArticleLabelDao">

	<cache />

	<resultMap id="article_label_result" type="ArticleLabel">
		<id property="id" column="f_id" />
		<result property="articleId" column="f_articleId" />
		<result property="labelId" column="f_labelId" />
		<result property="userId" column="f_userId" />
		<association property="label" javaType="Label" resultMap="label_result" />
	</resultMap>
	
	<resultMap id="label_result" type="Label">
		<id property="id" column="g_id" />
		<result property="userId" column="g_userId" />
		<result property="name" column="g_name" />
		<result property="description" column="g_description" />
		<result property="postDate" column="g_postDate" />
	</resultMap>
	
	<!-- 保存文章和标签的多对多关系 -->
	<insert id="insert" parameterType="ArticleLabel" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_article_label
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="articleId != null">articleId,</if>
			<if test="labelId != null">labelId,</if>
			<if test="userId != null">userId,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="articleId != null">#{articleId},</if>
			<if test="labelId != null">#{labelId},</if>
			<if test="userId != null">#{userId},</if>
		</trim>
	</insert>
	
	<!-- 根据文章主键到文章标签中间表中查询其对应的标签集合 -->
	<select id="getArticleLabelById" resultMap="article_label_result" parameterType="Integer">
		SELECT 
		    f.id          f_id,
		    f.articleId  f_articleId,
		    f.labelId    f_labelId,
		    f.userId     f_userId,
		    g.id          g_id,
		    g.userId     g_userId,
		    g.name        g_name,
		    g.description g_description,
		    g.postDate   g_postDate
		FROM
		    t_article_label f 
		LEFT JOIN t_label g ON f.labelId = g.id
		WHERE f.articleId = #{articleId}
	</select>

</mapper>