<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itganhuo.app.dao.AttentionDao">

    <cache/>

    <select id="find" resultType="Attention" parameterType="Map">
        select
        id, type, userId, labelId, byUserId, postDate
        from t_attention
        <where>
            <trim suffixOverrides="and">
                <if test="userId != null and userId != ''">userId = #{userId} AND</if>
                <if test="labelId != null and labelId != ''">labelId = #{labelId} AND</if>
                <if test="byUserId != null and byUserId != ''">byUserId = #{byUserId} AND</if>
            </trim>
        </where>
    </select>

</mapper>