<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itganhuo.app.dao.CommentDao">

	<cache />

	<sql id="comment_column_list">
		d.id d_id,
		d.type d_type,
		d.objId d_objId,
		d.userId d_userId,
		d.content d_content,
		d.postDate d_postDate,
		d.praise d_praise,
		d.trample d_trample
	</sql>

	<!-- 评论用户字段 -->
	<sql id="comment_user_column_list">
		C3.ID C3_ID,
		c3.account c3_account,
		c3.isLock c3_isLock,
		c3.nickname c3_nickname,
		c3.sex c3_sex,
		c3.email c3_email,
		c3.qq c3_qq,
		c3.phone c3_phone,
		c3.tel
		c3_tel,
		c3.postDate c3_postDate,
		c3.type c3_type,
		c3.lastLoginIp c3_lastLoginIp,
		c3.lastLoginDate c3_lastLoginDate,
		c3.isValidateEmail c3_isValidateEmail,
		c3.emailValidateCode c3_emailValidateCode,
		c3.emailValidateDate c3_emailValidateDate
	</sql>

	<!-- 评论回复表字段 -->
	<sql id="reply_column_list">
		e.id e_id,
		e.parentId e_parentId,
		e.userId e_userId,
		e.commentId e_commentId,
		e.content e_content,
		e.postDate e_postDate
	</sql>

	<!-- 评论回复人信息表字段 -->
	<sql id="reply_user_column_list">
		c4.id c4_id,
		c4.account c4_account,
		c4.isLock c4_isLock,
		c4.nickname c4_nickname,
		c4.sex c4_sex,
		c4.email c4_email,
		c4.qq c4_qq,
		c4.phone c4_phone,
		c4.tel
		c4_tel,
		c4.postDate c4_postDate,
		c4.type c4_type,
		c4.lastLoginIp c4_lastLoginIp,
		c4.lastLoginDate c4_lastLoginDate,
		c4.isValidateEmail c4_isValidateEmail,
		c4.emailValidateCode c4_emailValidateCode,
		c4.emailValidateDate c4_emailValidateDate
	</sql>

	<resultMap id="comment_result" type="Comment">
		<id property="id" column="d_id" />
		<result property="type" column="d_type" />
		<result property="objId" column="d_objId" />
		<result property="userId" column="d_userId" />
		<result property="content" column="d_content" />
		<result property="postDate" column="d_postDate" />
		<result property="praiseNum" column="d_praise" />
		<result property="trampleNum" column="d_trample" />
		<association property="user" javaType="User" resultMap="comment_user_result" />
		<collection property="replys" ofType="Reply" resultMap="reply_result" />
	</resultMap>

	<resultMap id="comment_user_result" type="User">
		<id property="id" column="c3_id" />
		<result property="account" column="c3_account" />
		<result property="isLock" column="c3_isLock" />
		<result property="nickname" column="c3_nickname" />
		<result property="sex" column="c3_sex" />
		<result property="email" column="c3_email" />
		<result property="qq" column="c3_qq" />
		<result property="phone" column="c3_phone" />
		<result property="tel" column="c3_tel" />
		<result property="postDate" column="c3_postDate" />
		<result property="type" column="c3_type" />
		<result property="lastLoginIp" column="c3_lastLoginIp" />
		<result property="lastLoginDate" column="c3_lastLoginDate" />
		<result property="isValidateEmail" column="c3_isValidateEmail" />
		<result property="emailValidateCode" column="c3_emailValidateCode" />
		<result property="emailValidateDate" column="c3_emailValidateDate" />
	</resultMap>

	<resultMap id="reply_result" type="Reply">
		<id property="id" column="e_id" />
		<result property="parentId" column="e_parentId" />
		<result property="userId" column="e_userId" />
		<result property="commentId" column="e_commentId" />
		<result property="content" column="e_content" />
		<result property="postDate" column="e_postDate" />
		<association property="user" javaType="User" resultMap="reply_user_result" />
	</resultMap>

	<resultMap id="reply_user_result" type="User">
		<id property="id" column="c4_id" />
		<result property="account" column="c4_account" />
		<result property="isLock" column="c4_isLock" />
		<result property="nickname" column="c4_nickname" />
		<result property="sex" column="c4_sex" />
		<result property="email" column="c4_email" />
		<result property="qq" column="c4_qq" />
		<result property="phone" column="c4_phone" />
		<result property="tel" column="c4_tel" />
		<result property="postDate" column="c4_postDate" />
		<result property="type" column="c4_type" />
		<result property="lastLoginIp" column="c4_lastLoginIp" />
		<result property="lastLoginDate" column="c4_lastLoginDate" />
		<result property="isValidateEmail" column="c4_isValidateEmail" />
		<result property="emailValidateCode" column="c4_emailValidateCode" />
		<result property="emailValidateDate" column="c4_emailValidateDate" />
	</resultMap>

	<!-- 保存用户针对某篇文章发表的评论 -->
	<insert id="insert" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="type != null">type,</if>
			<if test="objId != null">objId,</if>
			<if test="userId != null">userId,</if>
			<if test="content != null">content,</if>
			<if test="postDate != null">postDate,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="type != null">#{type},</if>
			<if test="objId != null">#{objId},</if>
			<if test="userId != null">#{userId},</if>
			<if test="content != null">#{content},</if>
			<if test="postDate != null">#{postDate},</if>
		</trim>
	</insert>

	<!-- 会员对评论点赞 -->
	<update id="addPraiseById" parameterType="Integer">
		UPDATE t_comment a
		SET a.praise = a.praise + 1
		WHERE a.id = #{id}
	</update>

	<!-- 会员对评论点踩 -->
	<update id="addTrampleById" parameterType="Integer">
		UPDATE t_comment a
		SET a.trample = a.trample + 1
		WHERE a.id = #{id}
	</update>

	<!-- 根据主键查询评论信息 -->
	<select id="getCommentById" resultMap="comment_result" parameterType="Integer">
		SELECT
		<include refid="comment_column_list" />
		,
		<include refid="comment_user_column_list" />
		,
		<include refid="reply_column_list" />
		,
		<include refid="reply_user_column_list" />
		FROM t_comment d
		LEFT JOIN t_user c3 ON d.userId = c3.id
		LEFT JOIN t_reply e ON d.id = e.commentId
		LEFT JOIN t_user c4 ON e.userId = c4.id
		WHERE d.id = #{id}
	</select>

	<!-- 评论点赞 -->
	<update id="addPraise" parameterType="Integer">
		UPDATE t_comment a SET
		a.praise = a.praise + 1
		WHERE a.id = #{id}
	</update>

	<!-- 评论点踩 -->
	<update id="addTrample" parameterType="Integer">
		UPDATE t_comment a SET
		a.trample = a.trample + 1
		WHERE a.id = #{id}
	</update>

	<select id="isInvolvedComment" resultMap="comment_result" parameterType="Map">
		SELECT
		<include refid="comment_column_list" />
		FROM t_comment d
		WHERE d.userId = #{userId} AND d.objId = #{objId}
        <choose>
            <when test="type == 1">AND d.type = 1</when>
            <when test="type == 2 or type == 3">AND d.type = 2 AND d.type = 3</when>
            <when test="type == 4 or type == 5">AND d.type = 4 AND d.type = 5</when>
        </choose>
	</select>

</mapper>