<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itganhuo.app.dao.DictionariesDao">

	<cache />

	<sql id="dictionariesColumnList">
		id, pid, attrName, attrValue, description, sort
	</sql>

	<select id="loadById" resultType="Dictionaries" parameterType="Integer">
		select
		<include refid="dictionariesColumnList" />
		from t_dictionaries
		where id = #{id}
	</select>

	<select id="getDictionariesList" resultType="Dictionaries" parameterType="Map">
		select
		<include refid="dictionariesColumnList" />
		from t_dictionaries
		<where>
			<if test="dictionaries != null and dictionaries.attrName != null and dictionaries.attrName != ''"> attrName like "%"#{dictionaries.attrName}"%"</if>
			<if test="dictionaries != null and dictionaries.pid != null and dictionaries.pid != ''"> pid = #{dictionaries.pid}</if>
			<if test="dictionaries != null and dictionaries.description != null and dictionaries.description != ''"> description = #{dictionaries.description}</if>
		</where>
		<if test="paging != null and paging.sort != null and paging.order != null">
			order by ${paging.sort} ${paging.order}
		</if>
		<if test="paging == null or paging.sort == null or paging.order == null">
			order by id desc
		</if>
		<if test="paging.page > 0 and paging.rows > 0">limit #{paging.offrow}, #{paging.rows}</if>
	</select>

	<select id="countDictionariesList" resultType="int" parameterType="Map">
		select
		count(1)
		from t_dictionaries
		<where>
			<if test="dictionaries != null and dictionaries.attrName != null and dictionaries.attrName != ''"> attrName like "%"#{dictionaries.attrName}"%"</if>
			<if test="dictionaries != null and dictionaries.pid != null and dictionaries.pid != ''"> pid = #{dictionaries.pid}</if>
			<if test="dictionaries != null and dictionaries.description != null and dictionaries.description != ''"> description = #{dictionaries.description}</if>
		</where>
	</select>

	<insert id="insert" parameterType="Dictionaries" useGeneratedKeys="true" keyProperty="id">
		insert into t_dictionaries
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pid != null">pid,</if>
			<if test="attrName != null">attrName,</if>
			<if test="attrValue != null">attrValue,</if>
			<if test="description != null">description,</if>
			<if test="sort != null">sort,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pid != null">#{pid},</if>
			<if test="attrName != null">#{attrName},</if>
			<if test="attrValue != null">#{attrValue},</if>
			<if test="description != null">#{description},</if>
			<if test="sort != null">#{sort},</if>
		</trim>
	</insert>

	<update id="updateInfo" parameterType="Dictionaries">
		update t_dictionaries
		<set>
			<trim suffixOverrides=",">
				<if test="pid != null">pid = #{pid},</if>
				<if test="attrName != null">attrName = #{attrName},</if>
				<if test="attrValue != null">attrValue = #{attrValue},</if>
				<if test="description != null">description = #{description},</if>
				<if test="sort != null">sort = #{sort},</if>
			</trim>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="Integer">
		delete from t_dictionaries where id = #{id}
	</delete>

</mapper>