<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itganhuo.app.dao.LabelDao">

	<cache />

	<sql id="label_column_list">
		ID, USER_ID, NAME, DESCRIPTION, POST_DATE
	</sql>

	<resultMap id="label_result" type="Label">
		<id property="id" column="ID" />
		<result property="userId" column="USER_ID" />
		<result property="name" column="NAME" />
		<result property="description" column="DESCRIPTION" />
		<result property="postDate" column="POST_DATE" />
	</resultMap>

	<select id="getLabelByCondition" resultMap="label_result" parameterType="Label">
		SELECT
		<include refid="label_column_list" />
		FROM T_LABEL
		<where>
			<if test="userId != null and userId != ''">USER_ID = #{userId}</if>
			<if test="name != null and name != ''">NAME like "%"#{name}"%"</if>
			<if test="description != null and description != ''">DESCRIPTION like "%"#{description}"%"</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="Label" useGeneratedKeys="true" keyProperty="ID">
		INSERT INTO T_LABEL
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="userId != null">USER_ID,</if>
			<if test="name != null">NAME,</if>
			<if test="description != null">DESCRIPTION,</if>
			<if test="postDate != null">POST_DATE,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="userId != null">#{userId},</if>
			<if test="name != null">#{name},</if>
			<if test="description != null">#{description},</if>
			<if test="postDate != null">#{postDate},</if>
		</trim>
	</insert>

	<delete id="delById" parameterType="String">
		DELETE FROM T_LABEL WHERE ID = #{id}
	</delete>
	
	<update id="updateById" parameterType="Label">
		UPDATE T_LABEL
		<set>
			<if test="userId != null">USER_ID = #{userId},</if>
			<if test="name != null">NAME = #{name},</if>
			<if test="description != null">DESCRIPTION = #{description},</if>
			<if test="postDate != null">POST_DATE = #{postDate},</if>
		</set>
		WHERE ID = #{id}
	</update>
	
</mapper>