<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itganhuo.app.dao.MenuDao">

	<cache />

	<sql id="menuColumnList">
		id, pid, text, state, checked, iconCls, url, sort
	</sql>

	<select id="findMenuById" resultType="Menu" parameterType="Integer">
		select
		<include refid="menuColumnList" />
		from t_menu
		where id = #{id}
	</select>
	
	<select id="findMenuByPid" resultType="Menu" parameterType="Integer">
		select
		<include refid="menuColumnList" />
		from t_menu
		where pid = #{pid}
		order by sort
	</select>

	<select id="getMenuList" resultType="Menu" parameterType="Map">
		select
		<include refid="menuColumnList" />
		from t_menu
		<where>
			<if test="menu != null and menu.id != null and menu.id != ''">id = #{menu.id}</if>
			<if test="menu != null and menu.text != null and menu.text != ''">text like "%"#{menu.text}"%"</if>
		</where>
		order by
		<choose>
			<when test="paging != null and paging.order != null and paging.order != null">${paging.sort} ${paging.order}</when>
			<otherwise>id desc</otherwise>
		</choose>
		<if test="paging.page > 0 and paging.rows > 0">limit #{paging.offrow}, #{paging.rows}</if>
	</select>

	<select id="countMenuList" resultType="int" parameterType="Map">
		select
		count(1)
		from t_menu
		<where>
			<if test="menu != null and menu.text != null and menu.text != ''">text like "%"#{menu.text}"%"</if>
		</where>
	</select>

	<insert id="addMenu" parameterType="Menu" useGeneratedKeys="true" keyProperty="ID">
		insert into t_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pid != null">pid,</if>
			<if test="text != null">text,</if>
			<if test="state != null">state,</if>
			<if test="checked != null">checked,</if>
			<if test="iconCls != null">iconCls,</if>
			<if test="url != null">url,</if>
			<if test="sort != null">sort,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pid != null">#{pid},</if>
			<if test="text != null">#{text},</if>
			<if test="state != null">#{state},</if>
			<if test="checked != null">#{checked},</if>
			<if test="iconCls != null">#{iconCls},</if>
			<if test="url != null">#{url},</if>
			<if test="sort != null">#{sort},</if>
		</trim>
	</insert>

	<delete id="delMenu" parameterType="Integer">
		delete from t_menu where id = #{id}
	</delete>
	
	<update id="updateMenu" parameterType="Menu" >
		update t_menu
		<set>
			<if test="pid != null">pid = #{pid},</if>
			<if test="text != null">text = #{text},</if>
			<if test="state != null">state = #{state},</if>
			<if test="checked != null">checked = #{checked},</if>
			<if test="iconCls != null">iconCls = #{iconCls},</if>
			<if test="url != null">url = #{url},</if>
			<if test="sort != null">sort = #{sort}</if>
		</set>
		where id = #{id}
	</update>
</mapper>