<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<title>${article.title}-IT干货技术分享网</title>
<link rel="stylesheet" href="${path}/static/css/style.css" />
<link rel="stylesheet" href="${path}/static/css/responsive.css" />
<script type="text/javascript" src="${path}/static/js/plugin/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
//当图片丢失时显示默认图片
function showErrImg(obj) {
    var errorimg = "${path}/static/imgs/default_image.jpg";
    obj.src = errorimg;
}
</script>
</head>
<body id="body">

<#include "common/header1.html">
<#include "common/header2.html">

<div class="container wrap">
    <div class="row inner edge">
        <div class="col-md-12">
            <h1 class="top-title">${article.title}</h1>
        </div>
        <div id="main" class="col-md-9 col-xs-12">
            <div id="question">
                <article class="q-post" >
                    <div class="post-cell">
                        <a href="javascript:addUseful('${article.id}','article');" class="post-big-vote"><span id="${article.id}_zan_article">${article.praiseNum}</span>赞</a>
                        <a href="javascript:addUseless('${article.id}','article');" class="post-big-hate" data-toggle="tooltip" data-placement="right" rel="tooltip" title="谨慎使用"><span id="${article.id}_cai_article">${article.trampleNum}</span>踩</a>
                        <a href="###" class="post-fav" data-toggle="tooltip" data-placement="right" rel="tooltip" title="关注并收藏">收藏</a>
                    </div>
                    <div class="fmt post-content">
                        <p>${article.content}</p>
                    </div>
                    
                    <div class="post-foot">
                        <table class="post-parter">
                            <tr>
                                <td>
                                    <a href="${path}/user/${article.user.account}" tabindex="-1"><img class="avatar-32" src="${path}/photo/${article.user.account}.jpg" alt="${article.user.account}" onerror="showErrImg(this);"/></a>
                                </td>
                                <td class="post-author">
                                    <h4><a href="${path}/user/${article.user.account}">${article.user.account}</a><strong>6</strong></h4>${article.postDate}<br />
                                </td>
                            </tr>
                        </table>
                    </div>
                </article>
            </div>
            
            <!-- 评论开始 -->
            <div id="answer">
                <div class="hor-tabs right">
                    <a class="current by-votes" href="#">得票数</a>
                    <i></i>
                    <a class="by-created" href="#">时间先后</a>
                </div>
                <h2 class="a-title"> ${article.comments?size} 个回答</h2>
               
	            <#if article.comments?size>
	            	<#list article.comments as comment>
		                <article class="a-post accepted" >
		                    <div class="post-cell">
		                        <a href="javascript:addUseful('${comment.id}','comment');" class="post-big-vote"><span id="${comment.id}_zan_comment">${comment.praise }</span>赞</a>
		                        <a href="javascript:addUseless('${comment.id}','comment');" class="post-big-hate" data-toggle="tooltip" data-placement="right" rel="tooltip" title="谨慎使用"><span id="${comment.id}_cai_comment">${comment.trample}</span>踩</a>
		                        <div class="accept-mark" title="采纳答案">采纳</div>
		                    </div>
		                    <div class="fmt post-content">
		                        <p>${comment.content }</p>
		                    </div>
		                    <div class="post-foot">
		                        <div class="hor-tabs post-action">
		                            <a class="btn btn-default btn-sm active btn-s btn-accept" data-cancel="1" href="###">取消采纳</a>
		                            <i></i>
		                            <a href="#" class="i-link">链接</a> 
		                            <a class="i-ignore ignore" href="#" data-cancel="0">忽略</a>
		                        </div>
		                        <table class="post-parter">
		                            <tr>
		                                <td>
		                                    <img class="avatar-32" src="${path}/static/photo/${comment.user.account}.jpg" alt="头像" onerror="showErrImg(this);" />
		                                </td>
		                                <td class="post-author">
		                                    <h4><a href="${path}/user/${comment.user.account}">${comment.user.account}</a><strong>0</strong></h4>${comment.postDate }
		                                </td>
		                            </tr>
		                        </table>
		                        <ul class="comment-list">
		                            <li>
		                                <a class="more-comments" href="javascript:toggle('j_reply_li_${comment.id}');">有问题问他</a>
		                            </li>
		                            <li id="j_reply_li_${comment.id}" style="display: none">
		                            	<input type="text" id="j_reply_${comment.id}" style="width: 90%">&nbsp;
		                            	<#if user_model == null || user_model.id == ''>
		                            		<input type="button" value="提交" onclick="javascript:window.location.href='${path}/user/signin';">
		                            	</#if>
		                            	<@shiro.authenticated>
				                    		<input type="button" value="提交" onclick="submitReply('j_reply_${comment.id}','${comment.id}');">
				                    	</@shiro.authenticated>
		                            </li>
						            <#if comment.replys !!>
			                            <li>
			                            <#list comment.replys as reply>
			                            	<div>
											  <div style="width: 500px;float: left;">${reply.content }</div>
											  <div style="text-align: right;width: 100%;float: right;">${reply.postDate }&nbsp;&nbsp;${reply.user.account }</div>
											</div>
			                          	</#list>
			                            </li>
			                        </#if>
		                        </ul>
		                    </div>
		                </article>
		             </#list>
		       <#else>
	           		<p>快来抢沙发</p>
	           </#if>
            </div>
                    
            <div id="write-answer">
                <h2 class="common-title">我有话说</h2>
                <#if user_model.id != article.userId>
	                <form method="post" action="${path}/user/comment" onsubmit="return checkForm();">
	                    <div id="wmd-button-bar">
	                    	<input type="hidden" name="object_id" value="${article.id }">
	                    	<input type="hidden" name="article_user_id" value="${article.userId }">
	                    	<textarea placeholder="用词请文明" rows="8" cols="115" id="j_content" name="content" style="resize: none;overflow-y:auto;"></textarea>
	                    	<input type="submit" id="j_sub" value="提交">
	                    </div>
	                </form>
	             <#else>
                	<div id="wmd-button-bar">
                    	<textarea placeholder="不能评论自己的话题哦！" readonly="readonly" rows="8" cols="115" id="j_content" name="content" style="resize: none;overflow-y:auto;"></textarea>
                    	<input type="submit" disabled="disabled" value="提交">
                    </div>
                </#if>
            </div>
        </div>

        <div id="secondary" class="col-md-3 col-xs-12 hidden-xs hidden-sm">
            <aside class="q-info">
                <ul class="hor-count">
                    <li><strong>${article.visitorNum}</strong>浏览数</li>
                    <li><strong>0</strong>收藏数</li>
                </ul>
            </aside>

            <div class="qa-aside-pin">
                <aside class="box">
                    <h3>相关文章</h3>
                    <ul class="link-list">
                    	<#list related_article as article>
	                        <li><a class="topic_title" href="${path}/article/${article.id}">${article.title[0..12]}...</a></li>
	                    </#list>
                    </ul>
                </aside>
            </div>
        </div>
    </div>

</div>


<#include "common/footer.html">

<a id="backtop" class="mobi-hide hidden" href="#body">回顶部</a>

</body>
<script type="text/javascript">
//提交评论内容时前端验证
function checkForm() {
	jQuery('#j_sub').attr('disabled',true);
	var content = jQuery('#j_content').val();
	if (content == null || content == '') {
		alert('请填写评论内容');
		jQuery('#j_content').focus();
		jQuery('#j_sub').attr('disabled',false);
		return false;
	}
	return true;
}
//显示或隐藏回复框
function toggle() {
    var arg = arguments;
    for(var i in arg){
        var one = typeof(arg[i]) === 'string'?document.getElementById(arg[i]):arg[i];
        one.style.display == 'block' ? one.style.display = 'none' : one.style.display = 'block';
    }
}
// 编码转换
var GB2312UnicodeConverter = {
    ToUnicode: function (str) {
        return escape(str).toLocaleLowerCase().replace(/%u/gi, '\\u');
    }
    , ToGB2312: function (str) {
        return unescape(str.replace(/\\u/gi, '%u'));
    }
};
//异步提交回复数据
function submitReply(id,comment_id) {
	var content = jQuery('#' + id).val();
	if (content == null || content == '') {
		alert('不填内容就点提交你也太调皮了吧！');
		return;
	}
	jQuery.post('${path}/article/saveReply', {content:content, comment_id:comment_id}, function(data) {
		if (data != null || data != '') {
			alert(data.message);
		}
	},"json");
	window.location.reload();
}
//文章或者评论点赞 类型为article表示文章 类型为 comment表示评论
function addUseful(id,type){
	var url = "";
	if(type == "article"){
		url = "${path}/article/addUsefulById/"+id;
	}else if(type ="comment"){
		url = "${path}/article/addPraiseById/"+id;
	}else ;
	$.get(url,function(data){
		var json = jQuery.parseJSON(data);
		if(json.status > 0){
			if(type == "article"){
				$("#"+id+"_zan_article").html(json.status);
			}else if(type ="comment"){
				$("#"+id+"_zan_comment").html(json.status);
			}else ;
		}else{
				alterMsg(json.msg);
		}
	});
}
//文章或者评论点踩 类型为article表示文章 类型为 comment表示评论
function addUseless(id,type){
	var url = "";
	if(type == "article"){
		url = "${path}/article/addUselessById/"+id;
	}else if(type ="comment"){
		url = "${path}/article/addTrampleById/"+id;
	}else ;
	$.get(url,function(data){
		var json = jQuery.parseJSON(data);
		if(json.status > 0){
			if(type == "article"){
				$("#"+id+"_cai_article").html(json.status);
			}else if(type ="comment"){
				$("#"+id+"_cai_comment").html(json.status);
			}else ;
		}else{
			alterMsg(json.msg);
		}
	});
}
function alterMsg(msg){
	if(msg =="unlogin"){
		alert("该操作需要先登录哦~亲！！");
		location.href='${path}/user/signin';
	}else if(msg =="addUsefulOrUseless_onOwn"){
		alert("不能对自己发表的文章或者评论执行该操作哦~亲！！");
	}else if(msg == "addUsefulOrUseless_again"){
		alert("不能重复对文章或者评论执行该操作哦~亲！！");
	}else if(msg == "addFailure"){
		alert("服务器正忙，请稍后再试~");
	}
}
</script>
</html>