<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itganhuo.core.dao.EmailTemplateMapper">
	<resultMap id="baseResultMap" type="EmailTemplateModel">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="is_del" property="isDel" jdbcType="INTEGER" />
		<result column="post_date" property="postDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="base_Column_List">
		id, type, name, content, is_del, post_date
	</sql>
	<select id="loadByName" resultMap="baseResultMap" parameterType="java.lang.String">
		select
		<include refid="base_Column_List" />
		from t_email_template
		where name = #{name}
	</select>
	<select id="loadById" resultMap="baseResultMap" parameterType="java.lang.String">
		select
		<include refid="base_Column_List" />
		from t_email_template
		where id = #{id}
	</select>
	<select id="loadAll" resultMap="baseResultMap">
		select
		<include refid="base_Column_List" />
		from t_email_template
	</select>

	<insert id="insert" parameterType="UserModel">
		insert into t_email_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="type != null">
				type,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="isDel != null">
				is_del,
			</if>
			<if test="postDate != null">
				post_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="type != null">
				#{type},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="content != null">
				#{content},
			</if>
			<if test="isDel != null">
				#{isDel},
			</if>
			<if test="postDate != null">
				#{postDate}
			</if>
		</trim>
	</insert>
</mapper>