<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itganhuo.app.dao.TemplateDao">

	<cache/>
	
	<sql id="template_column_list">
		ID, TYPE, NAME, CONTENT, POST_DATE, ISAVAILABLE
	</sql>
	
	<resultMap id="template_result" type="Template">
		<id column="id" property="ID" jdbcType="VARCHAR" />
		<result column="type" property="TYPE" jdbcType="INTEGER" />
		<result column="name" property="NAME" jdbcType="VARCHAR" />
		<result column="content" property="CONTENT" jdbcType="VARCHAR" />
		<result column="postDate" property="POST_DATE" jdbcType="TIMESTAMP" />
		<result column="isAvailable" property="ISAVAILABLE" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="loadByName" resultMap="template_result" parameterType="java.lang.String">
		SELECT
		<include refid="template_column_list" />
		FROM T_TEMPLATE
		WHERE NAME = #{name}
	</select>
	<select id="loadById" resultMap="template_result" parameterType="java.lang.String">
		SELECT
		<include refid="template_column_list" />
		FROM T_TEMPLATE
		WHERE ID = #{id}
	</select>
	<select id="loadAll" resultMap="template_result">
		SELECT
		<include refid="template_column_list" />
		FROM T_TEMPLATE
	</select>

	<insert id="insert" parameterType="Template" useGeneratedKeys="true" keyProperty="ID">
		INSERT INTO T_TEMPLATE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="type != null">TYPE,</if>
			<if test="name != null">NAME,</if>
			<if test="content != null">CONTENT,</if>
			<if test="postDate != null">POST_DATE,</if>
			<if test="isAvailable != null">ISAVAILABLE,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="type != null">#{type},</if>
			<if test="name != null">#{name},</if>
			<if test="content != null">#{content},</if>
			<if test="postDate != null">#{postDate},</if>
			<if test="isAvailable != null">#{isAvailable},</if>
		</trim>
	</insert>
</mapper>