<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itganhuo.app.dao.UserDao">

	<cache />

	<resultMap id="user_result_map" type="User">
		<id column="id" property="ID" />
		<result column="account" property="ACCOUNT" />
		<result column="password" property="PASSWORD" />
		<result column="salt" property="SALT" />
		<result column="isLock" property="ISLOCK" />
		<result column="nickname" property="NICKNAME" />
		<result column="sex" property="SEX" />
		<result column="email" property="EMAIL" />
		<result column="qq" property="QQ" />
		<result column="phone" property="PHONE" />
		<result column="tel" property="TEL" />
		<result column="postDate" property="POST_DATE" />
		<result column="type" property="TYPE" />
		<result column="lastLoginIp" property="LAST_LOGIN_IP" />
		<result column="lastLoginDate" property="LAST_LOGIN_DATE" />
		<result column="isValidateEmail" property="IS_VALIDATE_EMAIL" />
		<result column="emailValidateCode" property="EMAIL_VALIDATE_CODE" />
		<result column="emailValidateDate" property="EMAIL_VALIDATE_DATE" />
	</resultMap>

	<sql id="user_column_List">
		ID, ACCOUNT, PASSWORD, SALT, ISLOCK, NICKNAME, SEX, EMAIL, QQ, PHONE, TEL, POST_DATE, TYPE, 
		LAST_LOGIN_IP, LAST_LOGIN_DATE, IS_VALIDATE_EMAIL, EMAIL_VALIDATE_CODE, EMAIL_VALIDATE_DATE
	</sql>
	
	<insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="ID">
		INSERT INTO T_USER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="account != null">ACCOUNT,</if>
			<if test="password != null">PASSWORD,</if>
			<if test="salt != null">SALT,</if>
			<if test="isLock != null">ISLOCK,</if>
			<if test="nickname != null">NICKNAME,</if>
			<if test="sex != null">SEX,</if>
			<if test="email != null">EMAIL,</if>
			<if test="qq != null">QQ,</if>
			<if test="phone != null">PHONE,</if>
			<if test="tel != null">TEL,</if>
			<if test="postDate != null">POST_DATE,</if>
			<if test="type != null">TYPE,</if>
			<if test="lastLoginIp != null">LAST_LOGIN_IP,</if>
			<if test="lastLoginDate != null">LAST_LOGIN_DATE,</if>
			<if test="isValidateEmail != null">IS_VALIDATE_EMAIL,</if>
			<if test="emailValidateCode != null">EMAIL_VALIDATE_CODE,</if>
			<if test="emailValidateDate != null">EMAIL_VALIDATE_DATE,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="account != null">#{account},</if>
			<if test="password != null">#{password},</if>
			<if test="salt != null">#{salt},</if>
			<if test="isLock != null">#{isLock},</if>
			<if test="nickname != null">#{nickname},</if>
			<if test="sex != null">#{sex},</if>
			<if test="email != null">#{email},</if>
			<if test="qq != null">#{qq},</if>
			<if test="phone != null">#{phone},</if>
			<if test="tel != null">#{tel},</if>
			<if test="postDate != null">#{postDate},</if>
			<if test="type != null">#{type},</if>
			<if test="lastLoginIp != null">#{lastLoginIp},</if>
			<if test="lastLoginDate != null">#{lastLoginDate},</if>
			<if test="isValidateEmail != null">#{isValidateEmail},</if>
			<if test="emailValidateCode != null">#{emailValidateCode},</if>
			<if test="emailValidateDate != null">#{emailValidateDate},</if>
		</trim>
	</insert>

	<select id="loadById" resultMap="user_result_map" parameterType="java.lang.String">
		SELECT
		<include refid="user_column_List" />
		FROM T_USER
		WHERE ID = #{id}
	</select>

	<select id="loadByAccount" resultMap="user_result_map" parameterType="java.lang.String">
		SELECT
		<include refid="user_column_List" />
		FROM T_USER
		WHERE ACCOUNT = #{account}
	</select>


	<update id="updateInfoByAccount" parameterType="User">
		UPDATE T_USER
		<set>
			<if test="isLock != null">ISLOCK = #{isLock},</if>
			<if test="nickname != null">nickname = #{NICKNAME},</if>
			<if test="sex != null">SEX = #{sex},</if>
			<if test="email != null">EMAIL = #{email},</if>
			<if test="qq != null">QQ = #{qq},</if>
			<if test="phone != null">PHONE = #{phone},</if>
			<if test="tel != null">TEL = #{tel},</if>
			<if test="postDate != null">POST_DATE = #{postDate},</if>
			<if test="type != null">TYPE = #{type},</if>
			<if test="lastLoginIp != null">LAST_LOGIN_IP = #{lastLoginIp},</if>
			<if test="lastLoginDate != null">LAST_LOGIN_DATE = #{lastLoginDate},</if>
			<if test="isValidateEmail != null">IS_VALIDATE_EMAIL = #{isValidateEmail},</if>
			<if test="emailValidateCode != null">EMAIL_VALIDATE_CODE = #{emailValidateCode},</if>
			<if test="emailValidateDate != null and emailValidateDate &gt; 0">EMAIL_VALIDATE_DATE = #{emailValidateDate}</if>
		</set>
		WHERE ACCOUNT = #{account}
	</update>

	<update id="updatePasswordByAccount" parameterType="User">
		UPDATE T_USER
		<set>
			<if test="password != null">PASSWORD = #{password},</if>
			<if test="salt != null">SALT = #{salt}</if>
		</set>
		WHERE ACCOUNT = #{account}
	</update>

	<select id="getUserList" resultMap="user_result_map" parameterType="Map">
		SELECT
		<include refid="user_column_List" />
		FROM T_USER
		<where>
			<if test="user != null and user.account != null and user.account != ''">ACCOUNT = #{user.account}</if>
			<if test="user != null and user.nickname != null and user.nickname != ''">NICKNAME = #{user.nickname}</if>
		</where>
		<choose>
			<when test="paging != null and paging.sort != null and paging.order != null">
				ORDER BY ${paging.sort} ${paging.order}
			</when>
			<otherwise>
				ORDER BY ID DESC
			</otherwise>
		</choose>
		<if test="paging.page &gt; 0 and paging.rows &gt; 0">LIMIT #{paging.offrow}, #{paging.rows}</if>
	</select>

	<select id="countUserList" resultType="int" parameterType="Map">
		SELECT
		COUNT(1)
		FROM T_USER
		<where>
			<if test="user != null and user.account != null">ACCOUNT = #{user.account}</if>
			<if test="user != null and user.nickname != null">NICKNAME = #{user.nickname}</if>
			<if test="user != null and user.sex != null">SEX = #{user.sex}</if>
		</where>
	</select>
</mapper>