<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 这个文件主要记录仍然使用Log4j1.x版本的日志 -->

	<!-- 日志输出目的地：控制台 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]|%d|%t|%c{2}|%l|%m%n" />
		</layout>
	</appender>
	
	<!-- 日志输出目的地：文件 -->
	<appender name="FRAME" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/itganhuoLogs/frame.log" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]|%d|%t|%c{2}|%l|%m%n" />
		</layout>
	</appender>

	<!-- 记录其它框架报错日志 -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FRAME" />
	</root>

</log4j:configuration>