<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 
		日志输出目的地
	 -->
	<!-- 输出到控制台 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]|%d|%t|%c{2}|%l|%m%n" />
		</layout>
	</appender>
	<!-- 输出到文件 -->
	<appender name="run" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/applogs/run.log" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]|%d|%t|%c{2}|%l|%m%n" />
		</layout>
	</appender>
	<appender name="db" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/applogs/db.log" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]|%d|%t|%c{2}|%l|%m%n" />
		</layout>
	</appender>
	<appender name="thirdparty" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/applogs/thirdparty.log" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p]|%d|%t|%c{2}|%l|%m%n" />
		</layout>
	</appender>

	<!-- 
		指定哪个位置需要记录日记
	 -->
	<logger name="cn.itganhuo.core" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
		<appender-ref ref="run"/>
	</logger>
	<logger name="cn.itganhuo.core.dao" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="console" />
		<appender-ref ref="db"/>
	</logger>

	<!-- 
		记录框架日志并输出到文件（开发调试时可输出到控制台）
	 -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="thirdparty"/>
	</root>
	
</log4j:configuration>
