<footer id="footer">
    <div class="container">
        <div class="row inner hidden-xs">
            <dl class="col-sm-2 site-link">
                <dt>网站相关</dt>
                <dd><a href="${path}/about" target="_blank">关于我们</a></dd>
                <dd><a href="${path}/teams" target="_blank">开发团队</a></dd>
                <dd><a href="${path}/devblog" target="_blank">开发日志</a></dd>
            </dl>
            <dl class="col-sm-2 site-link">
                <dt>联系合作</dt>
                <dd><a href="javascript:alert('本站资源如有侵犯你的权益敬请联系mx.tian#qq.com（将#换成@）。');">联系我们</a></dd>
            </dl>
            <dl class="col-sm-2 site-link">
                <dt>常用链接</dt>
                <dd><a href="http://sishuok.com/" target="_blank">私塾在线</a></dd>
                <dd><a href="http://www.oschina.net/" target="_blank">开源中国</a></dd>
            </dl>
            <dl class="col-sm-2 site-link">
                <dt>关注我们</dt>
                <dd><a href="javascript:alert('我是QQ群号')" target="_blank">329232140</a></dd>
            </dl>
            <dl class="col-sm-4 site-link" id="license">
                <dt>内容许可</dt>
                <dd>除特别说明外，用户内容均采用 <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a> 进行许可</dd>
            </dl>
        </div>
        <div class="copyright">Copyright &copy; 2014-2015 ItGanHuo. 当前呈现版本 2014.11.24<br>粤ICP备14073525号-1</div>
    </div>
</footer>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3ce6f0c72e530455019b23502192a6ee' type='text/javascript'%3E%3C/script%3E"));
</script>
