<header class="site-header">
    <div class="container inner clearfix">
        <div class="head-name">
            <a href="${path}/" title="IT干货技术分享网">
                <span class="head-logo">ItGanHuo.CN</span>
            </a>
        </div>
        <div class="head-search">
        </div>
        <ul class="head-nav">
            <li class="current"><a href="#">技术分享</a></li>
        </ul>
        <div class="head-misc">
            <span>真心不错，我也来</span> <a class="btn btn-primary action" href="${path}/user/share">+分享</a>
        </div>
    </div>
</header>