<!--[if lt IE 9]>
    <div class="error chromeframe">您的浏览器版本<strong>太旧了</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->
<div class="global-nav">
    <nav class="global-nav container">
        <ul class="site-nav hidden-xs">
        	<li <#if servletPath?index_of('/index') != -1>class="current"</#if>><a href="${path}/index">首页</a></li>
            <li <#if servletPath?index_of('/articles') != -1>class="current"</#if>><a href="${path}/articles/1/1">文章</a></li>
            <li <#if servletPath?index_of('/labels') != -1>class="current"</#if>><a href="${path}/labels">标签</a></li>
            <li <#if servletPath?index_of('/suggestion') != -1>class="current"</#if>><a href="${path}/suggestion/list/1">我给网站提建议</a></li>
        </ul>
        <@shiro.guest>
        	<ul class="user-nav">
            	<li>
                	<a id="login-link" href="${path}/user/signin">登录</a>
            	</li>
            	<li>
                	<a href="${path}/user/register">注册</a>
            	</li>
            </ul>
        </@shiro.guest>
        <@shiro.user>
	        <ul class="user-nav">
	            <li class="has-dropdown">
	                <a class="hidden-xs" href="${path}/user/signin">退出</a>
	            </li>
	            <li class="has-dropdown">
	                <a href="${path}/user/<@shiro.principal/>" class="hidden-xs"><@shiro.principal/><i class="i-arrow-s"></i></a>
	            </li>
	        </ul>
        </@shiro.user>
    </nav>
</div>